/*
design.html
*/

#logo {
	background: #000000 url(../img/img02-5.jpg) no-repeat;
}

#content {
	background: url(../img/img03-5.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04-5.jpg) no-repeat;
}


