/*
lampi.html
*/

#logo {
	background: #000000 url(../img/img02-3.jpg) no-repeat;
}

#content {
	background: url(../img/img03-3.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04-3.jpg) no-repeat;
}


