/*
vitrpictate.html
*/

#logo {
	background: #000000 url(../img/img02-2.jpg) no-repeat;
}

#content {
	background: url(../img/img03-2.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04-2.jpg) no-repeat;
}


