/*
vitrali baza
*/

* {
	margin: 0;
	padding: 0px;
}

body {
	margin-top: 20px;
	background: #404040 url(../img/img01.gif) repeat-x;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

h1, h2, h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

h1 {
	font-size: 32px;
	color: #FFFFFF;
}
h2 {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;	
}
h3 { font-size: 1.2em; }

p, blockquote {
	margin-bottom: 10px;
	text-align: justify;
	line-height: 1.8em;
}

ul, ol {
	margin-bottom: 10px;
	text-align: left;
	line-height: 1.7em;
}

blockquote, ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-right: 3em;
}

a {
	color: #66FF00;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

img { border: thin solid #FFFFFF; }

img.left {
	float: left;
	margin: 0 15px 15px 0;
}

img.right {
	float: right;
	margin: 0 15px 0 15px;
}

hr { display: none; }

.hr {
}

/* Boxed */

.boxed {
}

.boxed .title {
	margin: 0;
	padding: 5px 15px;
	background: url(../img/img08.gif) no-repeat left center;
	text-transform: uppercase;
	font-size: 12px;
}

.boxed .content {
	padding: 10px;
	background: url(../img/img09.gif) repeat-x;
}

.boxed ol, .boxed ul {
	margin-left: 10px;
	list-style-position: outside;
}

/* Logo */

#logo {
	width: 760px;
	height: 200px;
	margin: 0 auto;
}

#logo h1 {
	float: left;
	width: 720px;
	margin: 0;
	padding: 40px 0 0;
	text-align: right;
	font-size: 32px;
	letter-spacing: 4px;
}

#logo h2 {
	margin: 0;
	padding: 0px;
	font-size: 18px;
	width: 720px;
	float: left;
	text-align: right;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #F1333F;
}

/* Page */

#page {
	width: 760px;
	margin: 0 auto;
	background: #000000;
}

/* Content */

#content {
	float: left;
	width: 480px;
	padding: 20px 20px 10px;
}

#welcome {
	padding-bottom: 20px;
}

#olist {
	clear: left;
	float: left;
	width: 230px;
	padding-left: 10px;
}

#ulist {
	float: left;
	width: 230px;
	padding-left: 10px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 200px;
	padding: 20px;
}

#sidebar blockquote {
	margin-left: 0;
	margin-right: 0;
}

/* Menu */

#menu {
	margin-bottom: 20px;
}

#menu h2 {
	display: none;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	padding-top: 1px;
	background: url(../img/img07.gif) repeat-x;
}

#menu li.first {
	background: none;
}

#menu a {
	display: block;
	width: 165px;
	padding: 7px 10px 7px 25px;
	text-transform: uppercase;
	background: url(../img/img08.gif) no-repeat 10px 50%;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: bold;
}

#menu a:hover {
	background-color: #0A0A0A;
}

/* Footer */

#footer {
	width: 760px;
	margin: 0 auto;
	padding: 10px 0;
	background: url(../img/img05.gif) repeat-x;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 10px;
	color: #CCCCCC;
}

#footer a {
	color: #CCCCCC;
}
