/*
obiecte.html
*/

#logo {
	background: #000000 url(../img/img02-4.jpg) no-repeat;
}

#content {
	background: url(../img/img03-4.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04-4.jpg) no-repeat;
}


