/*
index.html
*/

#logo {
	background: #000000 url(../img/img02.jpg) no-repeat;
}

#content {
	background: url(../img/img03.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04.jpg) no-repeat;
}

