/*
reperecv.html
*/

#logo {
	background: #000000 url(../img/img02-1.jpg) no-repeat;
}

#content {
	background: url(../img/img03-1.jpg) no-repeat;
}

#sidebar {
	background: url(../img/img04-1.jpg) no-repeat;
}


